<mat-toolbar class="nav nav--background">
  <div class="navbar">
    <ul>
      <li class="navbar__item">
        <a href="" class="navbar__item__link">TRANG CHỦ</a>
        <a href="" class="navbar__item__link">
          <!-- <mat-icon>home</mat-icon> -->
        </a>
      </li>
      <li class="navbar__item">
        <a href="SanPham" class="navbar__item__link">SẢN PHẨM</a>
      </li>
      <li class="navbar__item">
        <a href="GioiThieu" class="navbar__item__link">GIỚI THIỆU</a>
      </li>
      <li class="navbar__item">
        <a href="LienHe" class="navbar__item__link">LIÊN HỆ</a>
      </li>
    </ul>
  </div>
  <div class="logo__item">
    <a href="" class="navbar__item__link">
      <img src="assets/imgs/Logo.png" />
    </a>
  </div>
  <div class="login">
    <div id="cart">
      <a href="GioHang" class="navbar__item__link">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <div class="shoppingcart">
        <div class="shoppingcart__item">
          <div class="shoppingcart__item__image">
            <img src="assets/imgs/1.png" alt="Ảnh minh họa bánh kem dâu" />
          </div>
          <div class="shoppingcart__item__content">
            <div class="shoppingcart__item__content__name">
              <h4>Bánh kem dâu</h4>
            </div>
            <div class="shoppingcart__item__content__price">
              <p>Số lượng: 1</p>
              <p>Thành tiền: $300</p>
            </div>
          </div>
          <div class="shoppingcart__item__remove">
            <h3>x</h3>
          </div>
        </div>
        <a href="GioHang">Xem giỏ hàng</a>
        <div class="shoppingcart__total">
          <h4>Tổng sản phẩm: <span>1</span></h4>
          <h4>Tổng tiền: <span>300$</span></h4>
        </div>
      </div>
    </div>
    &emsp;
    <a href="DangNhap" class="navbar__item__link">
      <mat-icon>person</mat-icon>
    </a>
  </div>
</mat-toolbar>
<mat-toolbar class="nav nav--body"> </mat-toolbar>
