<mat-toolbar class="nav nav--background">
    <div class="navbar">
        <ul>
            <li class="navbar__item">
                <a href="" class="navbar__item__link">
                    <mat-icon>home</mat-icon>
                </a>
            </li>
            <li class="navbar__item">
                <a href="SanPham" class="navbar__item__link">Sản phẩm</a>
            </li>
            <li class="navbar__item">
                <a href="GioiThieu" class="navbar__item__link">Giới thiệu</a>
            </li>
            <li class="navbar__item">
                <a href="LienHe" class="navbar__item__link">Liên hệ</a>
            </li>
        </ul>
    </div>
    <div class="login">
        <a href="DangNhap" class="navbar__item__link">Đăng nhập</a>
    </div>
</mat-toolbar>