<footer class="footer">
  <div class="footer__left">
    <img src="assets/imgs/Logo.png" />

    <p class="footer__links">
      <a href="">TRANG CHỦ</a>
      |
      <a href="SanPham">SẢM PHẨM</a>
      |
      <a href="GioiThieu">GIỚI THIỆU</a>
      |
      <a href="LienHe">LIÊN HỆ</a>
    </p>

    <p class="footer__name">
      Copyright © 2022 <strong>QUI&PHUC</strong> All rights reserved
    </p>
  </div>

  <div class="footer__center">
    <div>
      <p><span>Email:</span><a href="#">qpshop@gmail.com</a></p>
    </div>
    <div>
      <p><span>Số điện thoại:</span> 081 3399 818</p>
    </div>
    <div>
      <p><span>Địa chỉ:</span> An Phú Đông, Q.12, TP.HCM</p>
    </div>
  </div>
  <div class="footer__right">
    <p class="footer__about">
      <span>Thời gian hoạt động</span>
      5h00 sáng đến 22h30 tối tất cả các ngày trong tuần
    </p>
  </div>
</footer>
