<div class="content">
    <form action="DangNhap" class="form col__4">
        <h2>Đăng nhập</h2>
        <div class="form__group">
            <label for="User">Tài khoản đăng nhập</label>
            <input type="text" id="User" class="form__group__control">
        </div>
        <div class="form__group">
            <label for="Pwd">Mật khẩu</label>
            <input type="password" id="Pwd" class="form__group__control">
        </div>
        <div class="form__group">
            <a href="#" class="form__group__forgot">Quên mật khẩu?</a>
        </div>
        <div class="form__group">
            <input type="submit" value="Đăng nhập" class="btn btn--primary">
        </div>
        <div class="form__group">
            <a href="DangKy" class="form__group__signup">Bạn có tài khoản chưa? &nbsp;<span> Đăng ký</span></a>
        </div>
    </form>
</div>
