<div class="content">
    <div class="row about">
        <div class="col__6">
            <h2>Giới thiệu sơ lược về website QP Shop</h2>
            <p>QP Shop là trang web bán bánh kem online được phát triển vào tháng 4/2022</p>
            <p>Đây là một trang web được xây dựng dựa trên nền tảng Angular 13. Website được xây dựng chủ yếu với HTML5, CSS3 cùng với Material và owl-carousel-o của framework Angular</p>
        </div>
    </div>
    <div class="row auth">
        <div class="col__6">
            <img src="assets/imgs/OIP.jfif" alt="person">
            <h2>CEO</h2>            
        </div>
        <div class="col__6">
            <img src="assets/imgs/OIP.jfif" alt="person">
            <h2>IT</h2>        
        </div>
    </div>
</div>
