<div class="navbar">
  <div class="navbar__category">
    <h3 class="title">Loại bánh</h3>
    <ul>
      <li class="navbar__category__item">Bánh Kem Tous Les Jours</li>
      <li class="navbar__category__item">Bánh Kem Brodard</li>
      <li class="navbar__category__item">Bánh ngọt</li>
    </ul>
  </div>
  <div class="navbar__price">
    <h3 class="title">Khoản tiền</h3>
    <ul>
      <li class="navbar__price__item">&lt; $50</li>
      <li class="navbar__price__item">&lt; $100</li>
      <li class="navbar__price__item">&gt; $100</li>
    </ul>
  </div>
</div>
