<div class="navbar">
  <div class="navbar__category">
    <h3 class="title">Loại bánh</h3>
    <ul>
      <li
        class="navbar__category__item"
        *ngFor="let c of categories"
        (click)="reloadCurrentPage()"
      >
        <a routerLink="/LoaiBanh/{{ c.id }}">{{ c.categoryName }}</a>
      </li>
    </ul>
  </div>
  <div class="Center__products">
    <h3>Tất cả sản phẩm</h3>
    <a href="/SanPham">
      <img
        src="/assets/imgs/26_Bánh kem Brodard - Socola Love.jpg"
        alt="SanPham"
      />
    </a>
  </div>
</div>
