<div class="container">
    <div class="row" *ngIf="detail">
        <div class="col__4">
            <div class="img">
                <img [src]="detail.avatar" alt="{{detail.alt}}">
            </div>
        </div>
        <div class="col__8">
            <div class="content">
                <input type="hidden" name="id" id="{{detail.id}}">
                <div class="content__title">
                    <h2>{{detail.title}}</h2>
                </div>
                <div class="content__description">
                    <p>{{detail.description}}</p>
                </div>
                <div class="content__price">
                    <p>${{detail.price}}</p>
                </div>
                <div class="content__quality">
                    <button class="btn" >-</button>
                    <input type="number" name="quality" value="{{detail.quantity}}">
                    <button class="btn" >+</button>
                </div>
                <div class="content__addcart">
                    <a href="SanPham" class="btn btn--primary">Trở về</a>
                    <a (click)="addToCart(detail)" class="btn btn--danger">Mua</a>
                </div>
            </div>
        </div>
    </div>
</div>