<div class="container">
    <div class="row" *ngIf="product">
        <div class="col__4">
            <div class="img">
                <img [src]="product.avatar" alt="{{product.alt}}">
            </div>
        </div>
        <div class="col__8">
            <div class="content">
                <input type="hidden" name="id" id="{{product.id}}">
                <div class="content__title">
                    <h2>{{product.title}}</h2>
                </div>
                <div class="content__description">
                    <p>{{product.description}}</p>
                </div>
                <div class="content__price">
                    <p>${{product.price}}</p>
                </div>
                <div class="content__quality">
                    <button class="btn" >-</button>
                    <input type="number" name="quality" value="{{product.quantity}}">
                    <button class="btn" >+</button>
                </div>
                <div class="content__addcart">
                    <a href="SanPham" class="btn btn--primary">Trở về</a>
                    <a (click)="addItem(product)" class="btn btn--danger">Mua</a>
                </div>
                <p>cart ({{ i }})</p>
            </div>
        </div>
    </div>
</div>