<div class="content">
    <form action="DangKy" class="form col__4">
        <h2>Đăng ký</h2>
        <div class="form__group">
            <label for="User">Tài khoản đăng nhập</label>
            <input type="text" id="User" class="form__group__control">
        </div>
        <div class="form__group">
            <label for="Pwd">Mật khẩu</label>
            <input type="password" id="Pwd" class="form__group__control">
        </div>
        <div class="form__group">
            <label for="ConfirmPwd">Nhập lại mật khẩu</label>
            <input type="password" id="ConfirmPwd" class="form__group__control">
        </div>
        <div class="form__group">
            <label for="Email">Email( không bắt buộc)</label>
            <input type="email" id="Email" class="form__group__control">
        </div>
        <div class="form__group">
            <label for="Phone">Điện thoại</label>
            <input type="tel" id="Phone" class="form__group__control">
        </div>
        <div class="form__group">
            <input type="submit" value="Đăng ký" class="btn btn--danger">
        </div>
        <div class="form__group">
            <a href="DangNhap" class="form__group__signup">Bạn đã có tài khoản rồi? &nbsp;<span> Đăng nhập</span></a>
        </div>
    </form>
</div>
