<div class="content">
  <div id="carousel">
    <owl-carousel-o [options]="homeOptions">
      <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide id="{{ slide.id }}">
          <a href="ChiTiet/{{ slide.id }}">
            <img
              src="{{ slide.avatar }}"
              alt="{{ slide.alt }}"
              title="{{ slide.title }}"
            />
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <hr />
  <div class="ship">
    <div class="ship__item">
      <img src="./assets/imgs/VanChuyen.png" alt="" />
      <h2>Tiết kiệm thời gian</h2>
      <p>Giao hàng nhanh</p>
    </div>
    <div class="ship__item">
      <img src="./assets/imgs/FreeShip.png" alt="" />
      <h2>Miễn phí vận chuyển</h2>
      <p>Miễn phí giao hàng với hóa đơn 200k</p>
    </div>

    <div class="ship__item">
      <img src="./assets/imgs/Khuvuc.png" alt="" />
      <h2>Khu vực áp dụng</h2>
      <p>Áp dụng cho các khi vực Q.12</p>
    </div>
  </div>
</div>
